$color-1: hsl(0, 0%, 20%);
$color-2: hsl(0, 0%, 33%);;
$color-3: hsl(0, 0%, 100%);
$color-4: yellow;

$point-color-1: #ffc107;

$warm-grey: #878787;
$grapefruit: #ff5252;
$black: #000000;
$light: #ebebeb;
.red {
    color: $grapefruit;
}

.full-opacity {
    opacity: 1 !important;
}

.header-shadow {
    box-shadow: 0 2px 15px 0 rgba(0, 0, 0, 0.08);
}